<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="student">{{student.name}}</ion-title>
    <ion-title *ngIf="!student">student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="student">
  <ion-item>Address: {{student.address}}</ion-item>
  <ion-item *ngIf="student.phones.length === 0">No phones</ion-item>
  <ion-item *ngIf="student.phones.length !== 0">Phones</ion-item>
  <ion-list *ngFor="let phone of student.phones">
    <ion-item>{{phone.description}}: {{phone.number}}</ion-item>
  </ion-list>
</ion-content>
