<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="subject">{{subject.name}}</ion-title>
    <ion-title *ngIf="!subject">Subject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="subject">
    <ion-item *ngIf="subject.students.length === 0"> No students </ion-item>
    <ion-item *ngFor="let student of subject.students">
      <div (click)="gotoStudent(student)" style="width: 90%;height: 100%;text-align: center" >{{student.name}}</div>
      <ion-icon (click)="dropSubject(student)" style="color: red; margin-left:auto" name="close"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-select (ionChange)="enrollStudents($event)" multiple="true" placeholder="Add new Students">
    <ion-select-option *ngFor="let student of nonEnrolledStudents">{{student.name}}</ion-select-option>
  </ion-select>
</ion-content>
