<ion-header>
  <ion-toolbar>
    <ion-title>
      Subjects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>Add Subject</ion-button>
  <ion-button>Add Student</ion-button>
  <ion-select (ionChange)="changeDegree($event)" placeholder="Degree">
    <ion-select-option>all</ion-select-option>
    <ion-select-option>telecos</ion-select-option>
    <ion-select-option>telematica</ion-select-option>
    <ion-select-option>aeroespacial</ion-select-option>
  </ion-select>
  <ion-list>
    <ion-item (click)="gotoSubject(subject)" *ngFor="let subject of subjects">
      {{subject.name}}
    </ion-item>
  </ion-list>
</ion-content>
