<ion-header>
  <ion-toolbar>
    <ion-title>create a subject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="subjectName" placeholder="Subject Name"></ion-input>
  <ion-select (ionChange)="changeDegree($event)" placeholder="Degree">
    <ion-select-option>telecos</ion-select-option>
    <ion-select-option>telematica</ion-select-option>
    <ion-select-option>aeroespacial</ion-select-option>
  </ion-select>

  <ion-button (click)="addSubject()">Add</ion-button>
</ion-content>
